# mengimport library

In [30]:
import pandas as pd
dataFrame = pd.read_csv("train.csv")
dataFrame.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

# menampilkan Jumlah record

In [31]:
len(dataFrame)

9800

# menampilkan nama atribut

In [32]:
daftar= {}

In [33]:
daftar['kolom'] = list(dataFrame.colomns)
for i in daftar['kolom']:
    print(i)

AttributeError: 'DataFrame' object has no attribute 'colomns'

# jumlah atribut berupa objek

In [35]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

# menampilkan jumlah atribute yang bernilai null

In [34]:
dataFrame.shape

(9800, 18)

# tampilkan nilai rata rata dan minimum serta quartil

In [36]:
dataFrame.describe()

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

# membuat dictionary

In [39]:
# membuat dictonary kosong
data={}

In [40]:
# jumlah record dari dataset
data['jumlah_record'] = len(dataFrame)
print (data['jumlah_record'])

9800

In [41]:
# menampilkan nama atribute
data['nama_atribut'] = list(dataFrame.columns)
print(data['nama_atribut'])

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales']

In [42]:
# atribute berupa objek
objek = dataFrame.select_dtypes(include=['object']).columns
data['tipe_objek']=len(objek)
print(data['tipe_objek'])

15

In [43]:
#jumlah atribute berupa angka
angka = dataFrame.select_dtypes(include=['float64', 'int64']).columns
data['tipe_angka']=len(angka)
print(data['tipe_angka'])

3

In [44]:
#menampilkan data dictionary berisi informasi dataset
('------------------------------------------------------------------------------------------')
print('Key\t\t\t| Value')
print('------------------------------------------------------------------------------------------')
for i in data:
  print(i, end='\t\t| ')
  print(data[i])
print('------------------------------------------------------------------------------------------')

Key			| Value
------------------------------------------------------------------------------------------
jumlah_record		| 9800
nama_atribut		| ['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales']
tipe_objek		| 15
tipe_angka		| 3
------------------------------------------------------------------------------------------

In [46]:
# tampilkan 10 record pertama dari atribute berupa angka
dataFrame[angka].head(10)

   Row ID  Postal Code     Sales
0       1      42420.0  261.9600
1       2      42420.0  731.9400
2       3      90036.0   14.6200
3       4      33311.0  957.5775
4       5      33311.0   22.3680
5       6      90032.0   48.8600
6       7      90032.0    7.2800
7       8      90032.0  907.1520
8       9      90032.0   18.5040
9      10      90032.0  114.9000

In [50]:
# menampilkan nilai korelasi pertama dari atribute berupa angka
dataFrame.corr(method='pearson')

               Row ID  Postal Code     Sales
Row ID       1.000000     0.013645  0.001151
Postal Code  0.013645     1.000000 -0.024067
Sales        0.001151    -0.024067  1.000000

In [51]:
# mengubah atribute bertipe angka menjadi desimal 3 angka dibelakang koma

i = dataFrame.select_dtypes(include=['int64']).columns
dataFrame[i] = dataFrame[i].astype(float)
pd.options.display.float_format = "{:,.3f}".format
print(dataFrame[i])

        Row ID
0        1.000
1        2.000
2        3.000
3        4.000
4        5.000
...        ...
9795 9,796.000
9796 9,797.000
9797 9,798.000
9798 9,799.000
9799 9,800.000

[9800 rows x 1 columns]

In [52]:
# simpan data set dengan atribute bertipe angka

dataFrame[angka].to_csv('Atribut_angka.csv', index=False)